<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css" />

    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>

    <title>Login</title>
`
    <style>
        .bi {
            color: #ffb600;
        }
        ::placeholder {
            color: black;
            font-weight: bold;
        }

        input {
            text-align: center;
            width: 100%;
        }

        .input-group i {
            position: absolute;
        }

        .input-group .bi {
            padding: 10px;
            color: #ffb600;
            min-width: 50px;
            text-align: center;
            margin-bottom: 40px;
            font-size: 20px;
            background-color: black;
            border-radius: 30px;
        }
        .form-check-input {
            justify-content: center;
            align-items: center;
            
        }
        .form-check-label {
            font-size: 1.25rem;
            padding-left: 5px;
        }

        .btn-secondary:hover {
            color: white;
        }
    </style>
    

</head>

<script type = "module"  src = "/firebaseconfig.js"></script>

<body>
    <div class="container justify-content-center">

        <p class="display-1 text-center fw-bold" style="margin:auto; margin-top:50px; margin-bottom:50px;">Feels great
            to be back </p>
        <p class="display-5 text-center fw-bold mb-5">Log in to continue</p>
            
        <div class="container" id="form">
            <div class="row justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">
                    <div class="input-group mb-3">
                        <i class="bi bi-person-fill"></i>
                        <input class="input-field form-control-lg bg-secondary bg-opacity-25" style="border-radius: 30px;"
                            type="email" placeholder="Email" id="inputEmail" v-model="inputEmail">
                    </div>

                    <div class="input-group mb-3">
                        <i class="bi bi-envelope-fill"></i>
                        <input class="input-field form-control-lg bg-secondary bg-opacity-25" style="border-radius: 30px;"
                            type="password" placeholder="Password" id="inputPassword" v-model="inputPassword">
                    </div>

                    <div class="text-center">
                        <div class="alert alert-danger p-30" v-if="show">{{error}}</div>
                        <button type="submit" class="btn btn-secondary btn-lg px-5 py-3 mt-3" 
                            style="border-radius: 30px" id = "loginBtn" @click="validate">Let's Go!</button>
                    </div>
                    <p class=" text-center mt-3">Don't have an account? <a data-toggle="tab" href="#signup">Sign Up</a></p>
                </div>
            </div>
        </div>
            
        </div>
    </div>
    

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    users: [{"email": "Jack@ymail.com", "pw": "abcdef"}], // need to link to db
                    inputEmail: '',
                    inputPassword: '',
                    show: false,
                    error: ''
                };
            },
            methods: {
                validate() {
                    console.log("in validate")
                    this.show = false;

                    if (this.inputEmail == '' || this.inputPassword == '') { // check if any of the input fields are empty
                        this.error = "Email or Password cannot be empty"
                        this.show = true
                    } 
                    else {
                        // check if user exists in the database
                        let userExist = false 
                        let password = '' //check with pw from db
                        for (a_user of this.users) {
                            if (a_user.email == this.inputEmail) {
                                userExist = true
                                password = a_user.pw
                                break
                            }
                        }
                        if (!userExist) {
                            this.error = "Email does not exist!"
                            this.show = true
                        } else if (password != this.inputPassword) {
                            this.error = "Password incorrect!"
                            this.show = true
                        }
                    }
                }
            }
        });
        const vm = app.mount('#form');
    </script>


    <!-- Optional JavaScript -->
    <!-- Bundled Bootstrap JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</body>

</html>