<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css" />

    <!-- Vue 3: development -->
    <script src="https://unpkg.com/vue@next"></script>

    <title>Register Page</title>

    <style>
        .bi {
            /* color: #ffb600; */
        }
        ::placeholder {
            color: black;
            font-weight: 500;
        }
        
        input[type=date] {
            font-weight: 500;
        }

        input {
            text-align: center;
            width: 100%;
        }

        .input-group i {
            position: absolute;
        }

        .input-group .bi {
            padding: 10px;
            /* color: #ffb600; */
            color: white;
            min-width: 50px;
            text-align: center;
            margin-bottom: 40px;
            font-size: 20px;
            background-color: black;
            border-radius: 30px;
        }
        .form-check-input {
            justify-content: center;
            align-items: center;
            
        }
        .form-check-label {
            font-size: 1.25rem;
            padding-left: 5px;
        }

        input[type=radio] {
            width: 20px;
            height: 20px;
        }

        .btn-secondary:hover {
            color: white;
        }

    </style>

</head>
<script type="module" src="/firebaseconfig.js"></script>

<div>
    <div class="container justify-content-center">

        <p class="display-3 text-center fw-bold"
            style="margin:auto; margin-top:50px; margin-bottom:50px; padding-top: 80px;">Hey there, we're so happy to
            have you.
            <i class="bi bi-emoji-laughing"></i>
        </p>
        <p class="display-6 text-center fw-bold mb-5">Create an account to get started.</p>
    </div>
    <div class="container" id="register">
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <div class="input-group mb-3">
                    <i class="bi bi-person-fill"></i>
                    <input class="input-field form-control-lg bg-secondary bg-opacity-25" style="border-radius: 30px;"
                        type="username" placeholder="Name" id="username" v-model="name">
                </div>

                <div class="input-group mb-3">
                    <i class="bi bi-calendar-fill"></i>
                    <input class="input-field form-control-lg bg-secondary bg-opacity-25" style="border-radius: 30px;"
                        type="date"  id="dob" v-model="dob">
                </div>

                <div class="input-group mb-3">
                    <i class="bi bi-envelope-fill"></i>
                    <input class="input-field form-control-lg bg-secondary bg-opacity-25" style="border-radius: 30px;"
                        type="email" placeholder="Email" id="email" v-model="email">
                </div>

                <div class="input-group mb-3">
                    <i class="bi bi-key-fill"></i>
                    <input class="input-field form-control-lg bg-secondary bg-opacity-25" style="border-radius: 30px;"
                        type="password" placeholder="Password" id="password1" v-model="password">
                </div>

                <div class="input-group mb-3">
                    <i class="bi bi-key-fill"></i>
                    <input class="input-field form-control-lg bg-secondary bg-opacity-25" style="border-radius: 30px;"
                        type="password" placeholder="Re-enter Password" id="password2" v-model="cfm_password">
                </div>

                <div class="input-group mb-3 ">
                    <div class="col text-center">
                        <div class="form-check form-check-inline mt-2 ms-2">
                            <input class="form-check-input" type="radio" name="usertype"
                                id="inputRoommate" value="Roommate" v-model="user_type">
                            <label class="form-check-label form-check-label-lg fw-bold" for="inputRoommate">Roommate</label>
                        </div>
                        <div class="form-check form-check-inline mt-2 ms-2">
                            <input class="form-check-input" type="radio" name="usertype"
                                id="inputLandlord" value="Landlord" v-model="user_type">
                            <label class="form-check-label form-check-label-lg fw-bold" for="inputLandlord">Landlord</label>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="alert alert-danger p-30" id="error" v-if="show">{{ error }}</div>
                    <button type = "submit" class="btn btn-secondary btn-lg px-5 py-3 fw-bold" 
                        style="border-radius: 30px" id="signUp" name="signup_submit" @click="signup">Join the community  
                        <i class="bi bi-arrow-right-circle"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
    </body>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    users: [], // need to link to db
                    name: '',
                    dob: '',
                    email: '',
                    password: '',
                    cfm_password: '',
                    user_type: '',
                    show: false,
                    error: ''
                };
            },
            methods: {
                signup() {
                    console.log("in validate")
                    this.show = false;

                    if (this.name == ''|| this.dob == '' || this.email == '' || this.password == '' || this.cfm_password == '' || this.user_type == '') { 
                        this.error = "Please fill in all the fields!";
                        this.show = true;
                    } 
                    if (this.password != this.cfm_password) {
                            this.error = "Passwords must match!";
                            this.show = true;
                    }
                }
            }
        });
        const vm = app.mount('#register');
    </script>

    <!-- <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-app.js";
    import { getDatabase, set, ref } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-database.js";
    import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-auth.js";



    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyBjHnf4J60cmRVPvRx60iB1HdtYDoFus-8",
        authDomain: "wad2-login.firebaseapp.com",
        projectId: "wad2-login",
        storageBucket: "wad2-login.appspot.com",
        messagingSenderId: "416797111775",
        appId: "1:416797111775:web:f572cad671caf62a1a806a",
        databaseURL: "https://wad2-login-default-rtdb.asia-southeast1.firebasedatabase.app/"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const database = getDatabase(app);
    const auth = getAuth();



    signUp.addEventListener("click", (e) => {
    
        const username = document.getElementById("username").value;
        const dob = document.getElementById("dob").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById('password').value;
        const roommate = document.getElementById('inputRoommate').checked;
        const landlord = document.getElementById('inputLandlord').checked;
        var type = "Not Selected"
        if(roommate == true){
            type = "Roommate";
        }
        else{
            type = "Landlord";
        }
    


        createUserWithEmailAndPassword(auth, email, password)
            .then((userCredential) => {
                // Signed in 
                const user = userCredential.user;
                console.log(user.uid)
                set(ref(database, 'users/' + user.uid), {
                    username: username,
                    dob: dob,
                    email: email,
                    type: type
                })
                

                alert('user created')
                // ...
            })
            .catch((error) => {
                const errorCode = error.code;
                const errorMessage = error.message;
                alert(errorMessage);
                // ..
            });
    })
</script> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <!-- <script src="/register.js"></script> -->

</html>