/* top of page */
.logo-1 {
  position: absolute;
  width: 372px;
  height: 90px;
  left: 43px;
  top: 38px;
}

.divider-1 {
  position: absolute;
  width: 1677px;
  height: 0px;
  left: 19px;
  top: 175.51px;

  border: 1px solid #d1d1d1;
  transform: rotate(-0.14deg);
}

/* icons */

.saved {
  position: absolute;
  width: 44px;
  height: 78px;
  left: 1512px;
  top: 64px;
}

.chat {
  position: absolute;
  width: 44px;
  height: 78px;
  left: 1624px;
  top: 64px;
}

.person {
  position: absolute;
  width: 60px;
  height: 65px;
  left: 1389px;
  top: 74px;
}

.person-text{

    position: absolute;
    width: 49px;
    height: 18px;
    left: 1396.6px;
    top: 124px;

    /* font-family: 'SF Pro'; */
    font-style: normal;
    font-weight: 590;
    font-size: 15px;
    line-height: 38px;
    /* identical to box height */


    color: #000000;
}

.chats-text{

    position: absolute;
    width: 43px;
    height: 18px;
    left: 1624px;
    top: 124px;
    
    /* font-family: 'SF Pro'; */
    font-style: normal;
    font-weight: 590;
    font-size: 15px;
    line-height: 38px;
    /* identical to box height */
    
    
    color: #000000;
}

.saves-text{

    position: absolute;
    width: 44px;
    height: 18px;
    left: 1514px;
    top: 124px;

    /* font-family: 'SF Pro'; */
    font-style: normal;
    font-weight: 590;
    font-size: 15px;
    line-height: 38px;
    /* identical to box height */


    color: #000000;

}